@import '../../styles/minxin.scss';

.blog-view{
  // background-color: #f4f6fa;
  background-color: #fff;
  padding-bottom: 20px;
  .header{
    color: rgb(100, 89, 116);
    font-weight: 500;
    @include fj();
    @include wh(100%, 200px);
  }


}