@import '../../styles/minxin.scss';

.card-item{
  margin: 30px auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px #eee;
  @include wh(670px, 200px);
  .card-bg{
    width: 100%;
    height: 100%;
  }
  
  .card{
    color: #333;
    padding: 20px 40px;
    box-sizing: border-box;
    flex-direction: column;
    @include wh(100%, 100%);
    @include fj(space-between, space-between);

    .card-header{
      @include fj(flex-start, flex-start);
      .cover{
        @include wh(100px, 100px);
      }
      .title{
        flex: 1;
        margin-left: 20px;
        font-weight: 500;
        font-size: 30px;
      }
    }

    .card-footer{
      font-size: 24px;
      margin-top: 10px;
      @include fj(space-between, center);
    }
  }
}